.wrapper {
  padding: 20px;
  border: 1px solid black;
  background-color: rgb(162, 165, 170);
}

.title {
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
}

.inputError {
  background-color: rgb(255, 172, 172);
  border: 2px dotted red;
  box-shadow: 0 0 5px 1px red;
}

.error {
  color: red;
}
